# Virtual Environment
venv/
.venv/
env/

# Python
__pycache__/
*.pyc

# Environment Variables
.env

# Uploads & Outputs
uploads/*
outputs/*
logs/*

# VS Code
.vscode/

# IDE
.idea/

# OS
.DS_Store
Thumbs.db